.card-container {
  width: 150px;
  display: flex;
  justify-content: space-around;
  display: inline-block;
  background-color: #f7f7f7;
  width: 400px;
  height: 300px;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
  overflow: scroll;
  border: 5px #313131 solid; }

.card-container:hover {
  border: 5px #C10101 solid;
  cursor: pointer; }

.restaurant-name {
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 40px;
  margin-top: 0;
  color: #C10101; }

.cuisine {
  font-weight: 600;
  font-size: 18px;
  color: #232323; }

.rating {
  font-size: 18px;
  color: #C10101; }

.address {
  font-weight: 500;
  font-size: 18px;
  color: #232323; }

.favorite {
  height: 10px;
  width: 10px;
  background-color: blue; }

.selected {
  background-color: black; }
