.card-container {
  width: 150px;
  display: flex;
  justify-content: space-around;
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 300px;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.cards {
  width: 200px;
  height: 300px;
  overflow:: scroll;
}

.address {
  font-size: 12px;
  color: white;
}
