.header-container{
  display: flex;
  justify-content: space-around;
  background-color: #c70303;
  font-size: 26px;
}

.nav-links {
  color: white;
  text-decoration-line: none;
}

.nav-links:hover {
  text-decoration-line: underline;
}
